html, body {
  margin: 0;
	height: 100%
}

@keyframes wiggle {
  from { opacity: .5}
  to { opacity: .9}
}

.wiggle {
  animation-name: wiggle;
  animation-duration: .7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.wiggle.bluetooth{
	transform: translateX(2px);
}

div.roboto, p.roboto {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  word-wrap: break-word;
}

span.roboto {
	font-family: Roboto, sans-serif;
	font-size: 14px;
}

.greyed-out{
  opacity: .5;
}
